# SPDX-License-Identifier: GPL-2.0
# clang-format configuration file for Linux Kernel coding style
# Based on https://www.kernel.org/doc/html/latest/process/coding-style.html

---
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
TabWidth: 8
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
IndentCaseLabels: false
AlignTrailingComments: true
ColumnLimit: 80
PointerAlignment: Right
SpaceAfterCStyleCast: false
SortIncludes: false
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 8
AlignConsecutiveMacros: false
AllowShortEnumsOnASingleLine: false
